---
import { Variable } from "djazztro";

import Layout from "@layouts/MainLayout.astro";
---
<Layout>
    <h1>Hello, djazzapp!</h1>
    <p>Example of getting variables from context: <Variable expression="test"/></p>
</Layout>
